@import "tailwindcss";

:root {
  /* --background: #ffffff; */
  /* --foreground: #171717; */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --animate-draw: draw 5s linear infinite;

  @keyframes draw {
    0% {
      stroke-dashoffset: 6492;
    } /* start hidden */
    45% {
      stroke-dashoffset: 0;
    } /* fully drawn */
    55% {
      stroke-dashoffset: 0;
    } /* pause at full */
    100% {
      stroke-dashoffset: 6492;
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a; */
    /* --foreground: #ededed; */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  cursor: none;
}
